# a2 userfiles
settings/
modules/
a2_init.ahk
a2_settings.ahk

# Compiled python files
*.py[co]

# Exclude all starting with . or _
_ *
.*

# Include certain .somethings
!.editorconfig
!.github/
!lib/_defaults/a2_init.ahk
!lib/_defaults/a2_settings.ahk

# Windows files
desktop.ini
thumbs.db
*.lnk
