.gitignore
settings/
*.pyc
/ui/qtuiscripts
/ui/_dump
/ui/__pycache__
/ui/.idea
/ui/designer - Shortcut.lnk
/ui/a2ui
/modules/baustelle/
/modules/cryTweaks/
/modules/mayaTweaks/
/modules/gameHacks/


.project
.settings/org.eclipse.core.resources.prefs
.pydevproject
ui/a2ui.spec
desktop.ini
modules/codeTools/nppP4Edit.ahk
modules/codeTools/p4Edit.py
modules/codeTools/nppSourceSelection.MAYA-WiP
modules/communicatorTweaks/config.json
modules/communicatorTweaks/helloName.ahk
modules/ExplorerHotkeys/callExplorer.ahk
modules/codeTools/maxHacks.ahk
modules/codeTools/mayaHelpy.ahk
