###################################
# Windows files
desktop.ini
Thumbs.db

###################################
# python related files
*.pyc
/ui/_dump
/ui/__pycache__
/ui/qtuiscripts
ui/res/_intermediate/

###################################
# editor specific files
*.bak
.settings/org.eclipse.core.resources.prefs
*.sublime-workspace

###################################
# cache & logs
*.cache
*.log

###################################
# customizable files
/ui/.idea
/settings
/modules
a2_init.ahk
a2_settings.ahk

###################################
# Documentation
/ui/designer - Shortcut.lnk
ui/PySide examples.lnk
*.lnk

###################################
# Misc
/ui/a2ui
libs/SQLiteSpy
_config_backups
.project
.pydevproject
ui/a2ui.spec
GitHub.appref-ms
