#include {data_path}
#include includes\variables.ahk
initFunc := "a2_init_calls"
if IsFunc(initFunc)
    %initFunc%()
#include includes\includes.ahk
#include includes\hotkeys.ahk
#include includes\init.ahk
