QPushButton {
    font-size: %(font-size)ipx;
    padding: %(padding)ipx;
    min-width: 15px;
    min-height: 22px;
    max-height: 22px;
}
QPushButton:checked {
    background-color: "%(color)s";
}
